<!-- メインエリア -->
<section ng-controller="MainCtrl" class="mainArea">

	<!-- 上部エリア -->
	<section class="headerArea">

		<!-- カウンター表示エリア -->
		<section class="counterArea">
			<span class="mm">{{mm | addZero}}</span>
			<span class="mark">:</span>
			<span class="ss">{{ss | addZero}}</span>
		</section>

		<!-- ボタンエリア -->
		<section class="buttonArea">
			<ons-button ng-click="startTimer()" ng-disabled="startBtnDisabledFlg">START</ons-button>
			<ons-button ng-click="stopTimer()" ng-disabled="stopBtnDisabledFlg">STOP</ons-button>
			<ons-button ng-click="resetTimer()" ng-disabled="resetBtnDisabledFlg">RESET</ons-button>
		</section>

		<!-- 境界エリア -->
		<section class="borderArea">
			<span class="border"></span>
		</section>

		<!-- 設定時間表示エリア -->
		<section class="counterArea">
			<span class="mm">{{setMm | addZero}}</span>
			<span class="mark">:</span>
			<span class="ss">{{setSs | addZero}}</span>
		</section>

		<!-- 時間設定エリア -->
		<section class="setTimeArea">
			<ons-button ng-click="addSetTimeMm(5)">+5分</ons-button>
			<ons-button ng-click="addSetTimeMm(1)">+1分</ons-button>
			<ons-button ng-click="addSetTimeSs(30)">+30秒</ons-button>
			<ons-button ng-click="addSetTimeSs(10)">+10秒</ons-button>
			<ons-button ng-click="clearSetTime()">C</ons-button>
		</section>

	</section>

	<!-- 下部エリア -->
	<section class="footerArea">

		<!-- 音設定エリア -->
		<div class="setSoundArea segment">
			<div class="segment__item">
				<input type="radio" class="segment__input" name="navi-segment-a" ng-model="soundFlg" ng-value="true">
				<div class="segment__button">
					<span class="ion-android-volume-up"></span>
				</div>
			</div>

			<div class="segment__item">
				<input type="radio" class="segment__input" name="navi-segment-a" ng-model="soundFlg" ng-value="false">
				<div class="segment__button">
					<span class="ion-android-volume-off"></span>
				</div>
			</div>
		</div>
	</section>

</section>